{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h1>Faça Login ou Crie sua Conta para continuar</h1>
    <hr>
    <div class="row">
        <div class="col">
            <form method="POST" action="" class="border p-3 mt-3">
                {{ form_criar_conta.csrf_token }}
                {% if mensagem %}
                    <div class="alert alert-info" role="alert">
                        {{ mensagem }}
                    </div>
                {% endif %}
                {% if erro %}
                    <div class="alert alert-danger" role="alert">
                        {{ erro }}
                    </div>
                {% endif %}
                <legend>Login</legend>
                <fieldset>
                    <div class="form-group">
                        {{ form_login.email.label(class="form-control-label") }}
                        {{ form_login.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form_login.senha.label(class="form-control-label") }}
                        {{ form_login.senha(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form_login.lembrar_dados_conta(class="form-check-input") }}
                        {{ form_login.lembrar_dados_conta.label(class="form-check-label") }}
                    </div>
                </fieldset>
                <br>
                {{ form_login.botao_submit_login(class="btn btn-primary") }}
            </form>
        </div>

        <div class="col">
            <form method="POST" action="" class="border p-3 mt-3">
                {{ form_criar_conta.csrf_token }}
                <fieldset>
                    <legend>Criar conta</legend>
                    <div class="form-group">
                        {{ form_criar_conta.username.label(class="form-control-label") }}
                        {{ form_criar_conta.username(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form_criar_conta.email.label(class="form-control-label") }}
                        {{ form_criar_conta.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form_criar_conta.senha.label(class="form-control-label") }}
                        {{ form_criar_conta.senha(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form_criar_conta.confirmacao_senha.label(class="form-control-label") }}
                        {{ form_criar_conta.confirmacao_senha(class="form-control") }}
                    </div>
                    <br>
                    {{ form_criar_conta.botao_submit_criar_conta(class="btn btn-primary") }}
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}